<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional theme -->
	<style>
		.header{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="header"  style="color:black" >
	<h3 style ="color:rgb(14, 13, 13)">
Get The latest news on our website
	</h3>
	</div>
	<div class="container">	
	<form action="" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search for the topic you need"/>
		</div>
		<div class="form-group">
			<select name="form-control">
				<option>The Hindu</option>
				<option>BBC News</option>
			</select>
		</div>
		<input type="submit" value="Search" class="btn btn-primary" style="float: right;">
	</form>
	</div>


	<div class="container">
	{% for new, des, i in mylist %}
			<img src="{{ i }}" alt="">
			<h3>news:</h3> {{ new }}
			{{ value|linebreaks }}

			<h4>description:</h4>{{ des }}
			{{ value|linebreaks }}

	{% endfor %}
	</div>

</body>
</html>
