<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Optional theme -->
	<style>
		.header{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="header"  style="color:black" >
	<h3 style ="color:rgb(14, 13, 13)">
Get The latest news on our website
	</h3>
	</div>
	<div class="container">	
	<form action="" method="POST">
		{% csrf_token %}
		<!-- <select class="form-select form-select-lg mb-3" aria-label="Default select example">
			<option value="1">The Hindu</option>
			<option value="2">BCC News</option>
			<option value="3">The Verge</option>
		</select> -->
		{{ forms }}
		<input type="submit" value="Search" class="btn btn-primary">
	</form>
	</div>


	<div class="container">
	{% for new, des, i in mylist %}
			<div class="card" style="width: 18rem;">
				<img src="{{ i }}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">{{ new }}</h5>
				  <p>Description:</p>
				  <p class="card-text">{{ des }}</p>
				</div>
			</div>
	{% endfor %}
	</div>
	<div>
		<div class="alan-btn"></div>
		<script type="text/javascript" src="https://studio.alan.app/web/lib/alan_lib.min.js">
		 </script>
		<script>
			var alanBtnInstance = alanBtn({
				key: "25e89a5dbe4021e657110efe880d8d022e956eca572e1d8b807a3e2338fdd0dc/stage",
				onCommand: function (commandData) {
					if (commandData.command === "go:back") {
						// Call the client code that will react to the received command
					}
				},
				rootEl: document.getElementById("alan-btn"),
			});
		</script>
	</div>
</body>
</html>
